        body{
            margin: 0;
        }
        .pg-header{
            height:48px;
            min-width:1190px;
            background-color: #204d74;
            line-height: 48px;
        }
        .menus{
            width:200px;
            position:absolute;
            left:0;
            bottom:0;
            top:48px;
            border-right: 1px solid #dddddd;
            background-color: #dddddd;
        }
        .content{
            position:absolute;
            left:200px;
            right:0;
            top:48px;
            bottom: 0;
            min-width:990px;
            overflow: scroll;
            z-index:99
        }
        .pg-header .logo{
            color:white;
            font-size:18px;
            width: 200px;
            text-align:center;
            border-right: 1px solid;
        }
        .pg-header .rmenus a{
            display: inline-block;
            padding: 0 15px;
            color:white;
        }
        .pg-header .rmenus a:hover{
            background-color: #269abc;
        }
        .left{
            float:left;
        }
        .right{
            float:right;
        }
        .avatar{
            padding: 0 20px;
        }
        .pg-header .avatar img{
            border-radius:50px;
        }
        .pg-header .avatar .user-info{
            display: none;
            position:absolute;
            width: 200px;
            top:48px;
            right: 2px;
            background-color: white;
            color: white;
            border: 1px solid #dddddd;
            z-index:100
        }
        .pg-header .avatar:hover .user-info{
            display: block;
        }
        .pg-header .avatar .user-info a{
            display: block;
        }
        .pg-body .menus a{
            display: block;
            padding: 10px 5px;
            border-bottom: 1px solid #ffffff;
        }
        .dropdown-menuchange {
  position: absolute;
  top: 100%;
  left: 512px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

}