<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>选择地区及产业</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="/static/新建文件夹/logo.png" width="100px" alt="logo">
            </div>
            <ul class="nav navbar-nav navbar-right">
                    {% if request.session.is_login %}
                    <li><a href="#">当前在线：{{ request.session.user_name }}</a></li>
                    <li><a href="/logout/">登出</a></li>
                    {% else %}
                    <li><a href="/register/"><span class="glyphicon glyphicon-user"></span>注册</a></li> <!--链接到注册.html-->
                    <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span>登录</a></li> <!--链接到登录.html-->
                    <li><a href="/联系我们/"><span class="glyphicon glyphicon-envelope"></span>联系我们</a></li> <!--链接到联系我们.html-->
                    {% endif %}
                </ul>
        </div>
    </nav>
    <br /><br /><br />
    <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        <!--链接到首页.html-->
        <li><a href="#">功能选择</a></li>
        <!--链接到功能选择.html-->
        <li><a href="#">贷款分析</a></li>
        <!--链接到贷款分析.html-->
        <li class="active">选择地区，产业类型及规模并上传财务文件</li>
    </ol>
    <br /><br /><br /><br />
    <div class="jumbotron" align="center">
        <form class="form-inline" id="form" action="/贷款分析1/贷款分析2/loan_result/" method="POST">
        <div id="basic-info">
        <h3>请选择您的公司所处的地区，产业类型及规模</h3>
            <select name="industry" id="industry">
                <option value="0">请选择产业类型</option>
                <option value="房地产">房地产</option>
                <option value="能源产业">能源产业</option>
                <option value="工业企业">工业企业</option>
                <option value="高技术产业">高技术产业</option>
                <option value="第三产业">第三产业</option>
            </select>

            <select name="detailed_industry" id="detailed-industry">
                <option value="0">请选择工业企业（制造业）下的子行业</option>
                <option value="非工业企业（制造业）">非工业企业（制造业）</option>
                <option value="农副食品加工业">农副食品加工业</option>
                <option value="食品制造业">食品制造业</option>
                <option value="烟草制品业">烟草制品业</option>
                <option value="纺织业">纺织业</option>
                <option value="家具制造业">家具制造业</option>
                <option value="造纸和纸制品业">造纸和纸制品业</option>
                <option value="印刷和记录媒介复制业">印刷和记录媒介复制业</option>
                <option value="文教、工美、体育和娱乐用品制造业">文教、工美、体育和娱乐用品制造业</option>
                <option value="石油加工、炼焦和核燃料加工业">石油加工、炼焦和核燃料加工业</option>
                <option value="化学原料和化学制品制造业">化学原料和化学制品制造业</option>
                <option value="医药制造业">医药制造业</option>
                <option value="化学纤维制造业">化学纤维制造业</option>
                <option value="橡胶和塑料制品业">橡胶和塑料制品业</option>
                <option value="非金属矿物制造业">非金属矿物制造业</option>
                <option value="黑色金属冶炼和压延加工业">黑色金属冶炼和压延加工业</option>
                <option value="有色金属冶炼和压延加工业">有色金属冶炼和压延加工业</option>
                <option value="金属制品业">金属制品业</option>
                <option value="通用设备制造业">通用设备制造业</option>
                <option value="专用设备制造业">专用设备制造业</option>
                <option value="汽车制造业">汽车制造业</option>
                <option value="铁路、船舶、航空航天和其他运输设备制造业">铁路、船舶、航空航天和其他运输设备制造业</option>
                <option value="电气机械和器材制造业">电气机械和器材制造业</option>
                <option value="计算机、通信和其他电子设备制造业">计算机、通信和其他电子设备制造业</option>
                <option value="仪器仪表制造业">仪器仪表制造业</option>
                <option value="其他制造业">其他制造业</option>
                <option value="废弃资源综合利用业">废弃资源综合利用业</option>
                <option value="金属制品、机械和设备修理业">金属制品、机械和设备修理业</option>
            </select>

            <select name="scale" id="scale">
                <option value="0">请选择产业规模</option>
                <option value="规模以上">规模以上（主营业务收入2000万元以上）</option>
                <option value="规模以下" disabled="disabled">规模以下</option>
            </select>

            <select name="region" id="region">
                <option value="0">请选择地区</option>
                <option value="北京">北京市</option>
                <option value="浙江省">浙江省</option>
                <option value="天津市">天津市</option>
                <option value="安徽省">安徽省</option>
                <option value="上海市">上海市</option>
                <option value="福建省">福建省</option>
                <option value="重庆市">重庆市</option>
                <option value="江西省">江西省</option>
                <option value="山东省">山东省</option>
                <option value="河南省">河南省</option>
                <option value="湖北省">湖北省</option>
                <option value="湖南省">湖南省</option>
                <option value="广东省">广东省</option>
                <option value="海南省">海南省</option>
                <option value="山西省">山西省</option>
                <option value="青海省">青海省</option>
                <option value="江苏省">江苏省</option>
                <option value="辽宁省">辽宁省</option>
                <option value="吉林省">吉林省</option>
                <option value="台湾省">台湾省</option>
                <option value="河北省">河北省</option>
                <option value="贵州省">贵州省</option>
                <option value="四川省">四川省</option>
                <option value="云南省">云南省</option>
                <option value="陕西省">陕西省</option>
                <option value="甘肃省">甘肃省</option>
                <option value="黑龙江省">黑龙江省</option>
                <option value="香港特别行政区">香港特别行政区</option>
                <option value="澳门特别行政区">澳门特别行政区</option>
                <option value="广西壮族自治区">广西壮族自治区</option>
                <option value="宁夏回族自治区">宁夏回族自治区</option>
                <option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
                <option value="内蒙古自治区">内蒙古自治区</option>
                <option value="西藏自治区">西藏自治区</option>
            </select>
            <span id="industry-err"></span>
            </br></br>
            <h3>请上传您的公司<strong>连续三年</strong>的财务数据文件</h3>
            <h5>第一年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第三年
            </h5>
            <div class="form-group" align="center">
                <label for="fileField1">请上传资产负债表:</label>

                <input type="file" name="formdata1" id="fileField1"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    align="center" class="form-control-static">
                <span id="errmsg1"></span>

                <input type="file" name="formdata2" id="fileField2"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    align="center" class="form-control-static">
                <span id="errmsg2"></span>
                <input type="file" name="formdata3" id="fileField3"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    align="center" class="form-control-static">
                <span id="errmsg3"></span>
            </div>
            <br />
            <div class="form-group" align="center">
                <label for="fileField2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请上传利润表:</label>

                <input type="file" name="formdata1" id="fileField4"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    align="center" class="form-control-static">
                <span id="errmsg4"></span>
                <input type="file" name="formdata2" id="fileField5"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    align="center" class="form-control-static">
                <span id="errmsg5"></span>
                <input type="file" name="formdata3" id="fileField6"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    align="center" class="form-control-static">
                <span id="errmsg6"></span>
            </div>
            <br />
            <div class="form-group" align="center">
                <label for="fileField3">请上传现金流量表:</label>

                <input type="file" name="formdata1" id="fileField7"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    align="center" class="form-control-static">
                <span id="errmsg7"></span>
                <input type="file" name="formdata2" id="fileField8"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    align="center" class="form-control-static">
                <span id="errmsg8"></span>
                <input type="file" name="formdata3" id="fileField9"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    align="center" class="form-control-static">
                <span id="errmsg9"></span>
            </div>


        <br /><br /><br />
            <div style="clear: both">
                <div style="clear: both;text-align: center" id="contenterr1"></div>
                <br>
                <div style="clear: both;text-align: center" id="contenterr2"></div>
                <br>
                <div style="clear: both;text-align: center" id="contenterr3"></div>
            </div>
        <a href="新建文件夹/资产负债表模板.xlsx">点击下载资产负债表模板</a> <a href="新建文件夹/利润表模板.xlsx">点击下载利润表模板</a> <a
            href="新建文件夹/现金流量表模板.xlsx">点击下载现金流量表模板</a>
        <br><br>
        </div>

        <div id="extend-info" class="hide">
        <div align="center">
            <h3>请按照您的公司财务状况对下列问题进行选择（详细描述请将光标移至文字上方）</h3>
        </div>

        <div align="center">
            <p>1.实际到位的注册资本</p>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="4"> 2000万元以上
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="3"> 1500~2000万元
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions1" id="inlineRadio3" value="2"> 1000~1500万元
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions1" id="inlineRadio4" value="1"> 500~1000万元
            </label>
        </div>
        </br>
        <div align="center">
            <p><abbr title="1.明晰的控股结构2.内控机制完善程度3.组织架构合理性4.规章制度完善程度 （共四分，每项若符合得一分，反之不得分）">2.治理机制</abbr></p>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="4"> 4分
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="3"> 3分
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions2" id="inlineRadio3" value="2"> 2分
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions2" id="inlineRadio4" value="1"> 1分
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions2" id="inlineRadio5" value="0"> 0分
            </label>

        </div>
        </br>
        <div align="center">
            <p><abbr title="1.规章制度的建设和执行2.企业文化3.财务管理4.质量、技术、信息管理（共四分，每项若符合得一分，反之不得分）">3.管理水平</abbr></p>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions3" id="inlineRadio1" value="4"> 4分
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions3" id="inlineRadio2" value="3"> 3分
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions3" id="inlineRadio3" value="2"> 2分
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions3" id="inlineRadio4" value="1"> 1分
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions3" id="inlineRadio5" value="0"> 0分
            </label>
        </div>
        </br>
        <div align="center">
            <p><abbr title="1.领导才能、管理素质、技术素质2.开拓能力、应变能力3.团结协作4.法制观念（共四分，每项若符合得一分，反之不得分）">4.领导者素质</abbr></p>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions4" id="inlineRadio1" value="4"> 4分
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions4" id="inlineRadio2" value="3"> 3分
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions4" id="inlineRadio3" value="2"> 2分
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions4" id="inlineRadio4" value="1"> 1分
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions4" id="inlineRadio5" value="0"> 0分
            </label>
        </div>
        </br>
        <div align="center">
            <p><abbr
                    title="1.行业及产品销售前景、产业政策的影响远近期目标2.经济实力、技术条件、营销策略、人才条件、实施措施（共两分，每项若符合得一分，反之不得分）">5.市场前景、发展规划与实施条件</abbr>
            </p>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions5" id="inlineRadio1" value="2"> 2分
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions5" id="inlineRadio2" value="1"> 1分
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions5" id="inlineRadio3" value="0"> 0分
            </label>
        </div>
        </br>
        <div align="center">
            <p><abbr title="财务报表是否经审计、审计部门权威性、审计报告质量">6.财务信息质量指标</abbr></p>
            <label class="radio">
                <input type="radio" name="RadioOptions6" id="inlineRadio1" value="-10"> 经审计，但审计报告出局否定或拒绝表示意见
            </label>
            <label class="radio">
                <input type="radio" name="RadioOptions6" id="inlineRadio2" value="-10"> 经审计，但审计报告出局保留意见
            </label>
            <label class="radio">
                <input type="radio" name="RadioOptions6" id="inlineRadio3" value="-10"> 未经审计
            </label>
            <label class="radio">
                <input type="radio" name="RadioOptions6" id="inlineRadio4" value="-10"> 无论是否审计，都可判断财务报表为虚假
            </label>
        </div>
            <div id="extend-err"></div>
        </div>
        </form>
        <p><a class="btn btn-primary btn-lg" onclick="nextfunc()" role="button" id="button-info">下一步</a>
            <!--链接到贷款分析结果.html-->&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary btn-lg" onclick="lastfunc()" role="button">上一步</a>
        </p>
        <!--链接到功能选择.html-->



    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div align="center">
        <footer>
            <p>© 2021 Economic Fueler Project Team</p>
        </footer>
    </div>
</body>

<script>
    function getcheck(checkname){
        var value = ""
        var radio = document.getElementsByName(checkname)
        for(var i=0;i<radio.length;i++){
            if (radio[i].checked==true){
                value=radio[i].value;
                break;
            }
        }
        return value
    }

function getPath(obj) {
 if (obj) {
  //注意，MSIE是在ie10之前可以用滴，在ie11以后trident哦，参考：http://www.cnblogs.com/wolfocme110/p/4630819.html
  if (window.navigator.userAgent.indexOf("MSIE") >= 1) {
   obj.select();
   return document.selection.createRange().text;
  } else if (window.navigator.userAgent.indexOf("Firefox") >= 1) {
   if (obj.files) {
    return obj.files.item(0).getAsDataURL();
   }
   return obj.value;
  }
  return obj.value;
 }
}
    function nextfunc(){
        var buttonname = document.getElementById("button-info").innerHTML
        if(buttonname=="下一步"){
        document.getElementById("errmsg1").innerHTML=""
        document.getElementById("errmsg2").innerHTML=""
        document.getElementById("errmsg3").innerHTML=""
        document.getElementById("errmsg4").innerHTML=""
        document.getElementById("errmsg5").innerHTML=""
        document.getElementById("errmsg6").innerHTML=""
        document.getElementById("errmsg7").innerHTML=""
        document.getElementById("errmsg8").innerHTML=""
        document.getElementById("errmsg9").innerHTML=""
        document.getElementById("contenterr1").innerHTML=""
        document.getElementById("contenterr2").innerHTML=""
        document.getElementById("contenterr3").innerHTML=""
        document.getElementById("industry-err").innerHTML = ""
        var fuzhai1 = document.getElementById("fileField1").value;
        var fuzhai2 = document.getElementById("fileField2").value;
        var fuzhai3 = document.getElementById("fileField3").value;
        var lirun1 = document.getElementById("fileField4").value;
        var lirun2 = document.getElementById("fileField5").value;
        var lirun3 = document.getElementById("fileField6").value;
        var liuliang1 = document.getElementById("fileField7").value;
        var liuliang2 = document.getElementById("fileField8").value;
        var liuliang3 = document.getElementById("fileField9").value;
        var industry = document.getElementById("industry").value;
        var detailed_indusry = document.getElementById("detailed-industry").value;
        var scale = document.getElementById("scale").value
        var region = document.getElementById("region").value
        var industry_err = industry==0||detailed_indusry==0||scale==0||region==0
        if(!fuzhai1||!fuzhai2||!fuzhai3||!lirun1||!lirun2||!lirun3||!liuliang1||!liuliang2||!liuliang3||industry_err){
            if(industry_err){
                $("#industry-err").text("存在未选择信息")
            }
            if(!fuzhai1){
                $("#errmsg1").text("格式错误")
            }
            if(!fuzhai2){
                $("#errmsg2").text("格式错误")
            }
            if(!fuzhai3){
                $("#errmsg3").text("格式错误")
            }
            if(!lirun1){
                $("#errmsg4").text("格式错误")
            }
            if(!lirun2){
                $("#errmsg5").text("格式错误")
            }
            if(!lirun3){
                $("#errmsg6").text("格式错误")
            }
            if(!liuliang1){
                $("#errmsg7").text("格式错误")
            }
            if(!liuliang2){
                $("#errmsg8").text("格式错误")
            }
            if(!liuliang3){
                $("#errmsg9").text("格式错误")
            }
        }else {

            var formData=new FormData();
            var productPic=$("#fileField1")[0].files[0];
            formData.append("productPic",productPic);
            console.log(formData)
            fuzhai1 = document.getElementById("fileField1").files[0].name
            fuzhai2 = document.getElementById("fileField2").files[0].name
            fuzhai3 = document.getElementById("fileField3").files[0].name
            lirun1 = document.getElementById("fileField4").files[0].name
            lirun2 = document.getElementById("fileField5").files[0].name
            lirun3 = document.getElementById("fileField6").files[0].name
            liuliang1 = document.getElementById("fileField7").files[0].name
            liuliang2 = document.getElementById("fileField8").files[0].name
            liuliang3 = document.getElementById("fileField9").files[0].name
            console.log(fuzhai1)
            $.ajax({
                url: "/loan_errtest/",
                type: "POST",
                data: {"fuzhai1": fuzhai1,"fuzhai2":fuzhai2,"fuzhai3":fuzhai3, "lirun1": lirun1, "lirun2": lirun2,"lirun3": lirun3,"liuliang1": liuliang1,"liuliang2": liuliang2,"liuliang3": liuliang3},

                success: function (args) {
                    args = JSON.parse(args);
                    if (!args[0].流动负债合计期末余额||!args[1].流动负债合计期末余额||!args[2].流动负债合计期末余额||!args[3].销售费用本期金额||!args[4].销售费用本期金额||!args[5].销售费用本期金额||!args[6].支付的各种税费本期金额||!args[7].支付的各种税费本期金额||!args[8].支付的各种税费本期金额) {
                        if (!args[0].流动负债合计期末余额) {
                            $("#errmsg1").text("格式错误")
                        }
                        if (!args[1].流动负债合计期末余额) {
                            $("#errmsg2").text("格式错误")
                        }
                        if (!args[2].流动负债合计期末余额) {
                            $("#errmsg3").text("格式错误")
                        }
                        if (!args[3].销售费用本期金额) {
                            $("#errmsg4").text("格式错误")
                        }
                        if (!args[4].销售费用本期金额) {
                            $("#errmsg5").text("格式错误")
                        }
                        if (!args[5].销售费用本期金额) {
                            $("#errmsg6").text("格式错误")
                        }
                        if (!args[6].支付的各种税费本期金额) {
                            $("#errmsg7").text("格式错误")
                        }
                        if (!args[7].支付的各种税费本期金额) {
                            $("#errmsg8").text("格式错误")
                        }
                        if (!args[8].支付的各种税费本期金额) {
                            $("#errmsg9").text("格式错误")
                        }
                    }else{
                        console.log("123")
                        $.ajax({
                            url: "/loan_errcontent/",
                            type: "POST",
                            data: {"fuzhai1": fuzhai1,"fuzhai2":fuzhai2,"fuzhai3":fuzhai3, "lirun1": lirun1, "lirun2": lirun2,"lirun3": lirun3,"liuliang1": liuliang1,"liuliang2": liuliang2,"liuliang3": liuliang3},
                            success:function(data){
                                data = JSON.parse(data)
                                if(data.status) {
                                    console.log(data)
                                    $("#contenterr1").text("第一年文件中存在的错误信息：" + data.msg[0])
                                    $("#contenterr2").text("第二年文件中存在的错误信息：" + data.msg[1])
                                    $("#contenterr3").text("第三年文件中存在的错误信息：" + data.msg[2])
                                }else{
                                    document.getElementById("basic-info").classList.add("hide")
                                    document.getElementById("extend-info").classList.remove("hide")
                                    document.getElementById("button-info").innerHTML = "生成贷款分析结果"
                                }
                            }
                        })
                    }
                }
            })
        }
    }else{
            document.getElementById("extend-err").innerHTML = ""
            var extent_info1 = getcheck("inlineRadioOptions1")
            var extent_info2 = getcheck("inlineRadioOptions2")
            var extent_info3 = getcheck("inlineRadioOptions3")
            var extent_info4 = getcheck("inlineRadioOptions4")
            var extent_info5 = getcheck("inlineRadioOptions5")
            var extent_info6 = getcheck("RadioOptions6")
            console.log(extent_info1)
            console.log(extent_info6)
            if(!extent_info1||!extent_info2||!extent_info3||!extent_info4||!extent_info5||!extent_info6 ){
                $("#extend-err").text("存在未选择信息")
            }else {
                document.getElementById("form").submit()
                location.href("/贷款分析1/贷款分析2/loan_result/")
            }
        }
    }
    function lastfunc(){
        document.getElementById("basic-info").classList.remove("hide")
        document.getElementById("extend-info").classList.add("hide")
        document.getElementById("button-info").innerHTML = "下一步"
    }
</script>
</html>